<div class="dashboard-container" *ngIf="users.length">
    <table class="dashboard-table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Surname</th>
                <th>Birthday</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Create/update user date</th>
                <th>Edit/delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users let idx=index">
                <td>{{idx + 1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.birthday}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.email}}</td>
                <td>{{user.date | date}}</td>
                <td>
                    <button class="btn edit-btn" (click)="editItem(user.id!)">Edit</button>
                    <button class="btn delete-btn" (click)="removeItem(user.id!)">Detele</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="edit-window" *ngIf="showEditWindow">
    <form [formGroup]="form" (ngSubmit)="save()">
        <div class="form-control">
            <div *ngIf="form.get('name')?.touched && form.get('name')?.invalid" class="validation">
                <small *ngIf="form.get('name')?.hasError('required')">
                    The field cannot be empty
                </small>
            </div>
            <div class="validation" *ngIf="form.get('name')?.hasError('maxlength')">
                <small>
                    The length of field cannot be more than 60 symbols
                </small>
            </div>
            <input type="text" formControlName="name" placeholder="Name">
        </div>
        <div class="form-control">
            <div *ngIf="form.get('surname')?.touched && form.get('surname')?.invalid" class="validation">
                <small *ngIf="form.get('surname')?.hasError('required')">
                    The field cannot be empty
                </small>
            </div>
            <div class="validation" *ngIf="form.get('surname')?.hasError('maxlength')">
                <small>
                    The length of field cannot be more than 60 symbols
                </small>
            </div>
            <input type="text" formControlName="surname" placeholder="Surname">
        </div>
        <div class="form-control">
            <div *ngIf="form.get('birthday')?.touched && form.get('birthday')?.invalid" class="validation">
                <small *ngIf="form.get('birthday')?.hasError('required')">
                    The field cannot be empty
                </small>
            </div>
            <div class="validation" *ngIf="form.get('birthday')?.hasError('pattern')">
                <small>
                    Please, enter the correct form of birthday
                </small>
            </div>
            <input type="text" formControlName="birthday" placeholder="Birthday (dd.mm.yyyy)">
        </div>
        <div class="form-control">
            <div *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid" class="validation">
                <small *ngIf="form.get('phone')?.hasError('required')">
                    The field cannot be empty
                </small>
            </div>
            <div class="validation" *ngIf="form.get('phone')?.hasError('pattern')">
                <small>
                    Please, enter the correct form of phone number (0xxyyyyyyy)
                </small>
            </div>
            <input type="text" formControlName="phone" placeholder="Phone">
        </div>
        <div class="form-control">
            <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="validation">
                <small *ngIf="form.get('email')?.hasError('required')">
                    The field cannot be empty
                </small>
            </div>
            <div class="validation" *ngIf="form.get('email')?.hasError('email')">
                <small>
                    Please, enter the correct form of email
                </small>
            </div>
            <input type="text" formControlName="email" placeholder="Email">
        </div>
        <button type="submit" class="btn edit-btn" [disabled]="form.invalid">Save</button>
    </form>
</div>