.dashboard-container {
  padding: 30px;
  .dashboard-table {
    width: 50%;
    border: 1px dotted rgb(190, 189, 189);
    tr,
    th,
    td {
      border: 1px dotted rgb(190, 189, 189);
      padding: 10px;
    }
  }
}
.btn {
  display: inline-block;
  border: none;
  width: 100%;
  padding: 15px 30px;
  border-radius: 5px;
}

.edit-btn {
  background-color: rgb(12, 187, 187);
  margin-bottom: 5px;
}

.delete-btn {
  background-color: rgb(240, 14, 14);
}

.edit-window {
  padding: 40px 30px;
  max-width: 480px;
  width: 100%;
  background-color: rgb(226, 220, 220);
  border: 1px dotted rgb(112, 106, 106);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .form-control {
    margin-bottom: 20px;
    input {
      width: 100%;
      padding: 10px 20px;
      border: 1px dotted rgb(112, 106, 106);
      border: 5px;
    }
  }
}
.validation {
  color: rgb(252, 9, 9);
}
