<div class="dashboard-container" *ngIf="users.length">
    <table class="dashboard-table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Surname</th>
                <th>Birthday</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Create/update user date</th>
                <th>Edit/delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users let idx=index">
                <td>{{idx + 1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.birthday}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.email}}</td>
                <td>{{user.date | date}}</td>
                <td>
                    <button class="btn edit-btn" (click)="editItem(user.id!)">Edit</button>
                    <button class="btn delete-btn" (click)="removeItem(user.id!)">Detele</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="edit-window" *ngIf="showEditWindow">
    <form [formGroup]="form" (ngSubmit)="save()">
        <div class="form-control">
            <input type="text" formControlName="name" placeholder="Name">
        </div>
        <div class="form-control">
            <input type="text" formControlName="surname" placeholder="Surname">
        </div>
        <div class="form-control">
            <input type="text" formControlName="birthday" placeholder="Birthday">
        </div>
        <div class="form-control">
            <input type="text" formControlName="phone" placeholder="Phone">
        </div>
        <div class="form-control">
            <input type="text" formControlName="email" placeholder="Email">
        </div>
        <button type="submit" class="btn edit-btn">Save</button>
    </form>
</div>