.alert-container {
  position: absolute;
  top: 5%;
  left: 40%;
  width: 200px;
}
.alert {
  width: 100%;
  padding: 15px 30px;
  text-align: center;
}
.alert-create {
  background-color: rgba(8, 133, 8, 0.5);
}
.alert-update {
  background-color: rgba(21, 21, 211, 0.5);
}
.alert-delete {
  background-color: rgba(243, 24, 24, 0.5);
}
